.principal_nombre{
	color:#fcf7fc; 
	font-size: 55px;
	font-style: italic ;
	padding-top: 40px;
	text-shadow: 5px 5px 5px #cc16c0;
}
header{ 
	background-color: #1f011f;
	text-align: center;
	height: 157px;
	 margin: -37.5px -8.5px;
	 width: 1365px;
	}
nav img{
	margin:13px ;
	margin-top: -125px;
  float: right;
   width: 115px;
  padding-left: -55px;
}
nav{
	float: right;
}
#principal a{ 
	text-decoration: none;
	color:#f6eff7;
	margin-right: 50px;
	font-weight: 900;
}
#principal li{ 
	float: left;
    list-style: none;
height: 55px;
margin: -26px -1px;
padding: -50px;
padding-left: -75px;
}
#principal li:hover a{
color:  #c73a69;
}
.nombre_logo{
	color: #fcf7fc;
	width: 350px;
	padding: 20px 20px;
	float: left;
	position: absolute;
	top: 14%;
	left: -4%;
	font-size: 18px;
}
.logo{
	position: absolute;
	width: 210px;
	margin-left: -660px;
	margin-top: 27px;
	transform: translateX(-55%);
	transform: translateY(-25%);
  height: 165px;
  display: 75%;
}
#menu ul{
	list-style: none;
	margin:-2px;
	padding: 0;
}
#menu ul li{
	float:left;
}

#menu a{
   color: #fff7ff;
   background: rgba(104,34,89,1);
background: -moz-linear-gradient(top, rgba(104,34,89,1) 0%, rgba(92,31,75,1) 50%, rgba(77,0,54,1) 51%, rgba(108,19,79,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(104,34,89,1)), color-stop(50%, rgba(92,31,75,1)), color-stop(51%, rgba(77,0,54,1)), color-stop(100%, rgba(108,19,79,1)));
background: -webkit-linear-gradient(top, rgba(104,34,89,1) 0%, rgba(92,31,75,1) 50%, rgba(77,0,54,1) 51%, rgba(108,19,79,1) 100%);
background: -o-linear-gradient(top, rgba(104,34,89,1) 0%, rgba(92,31,75,1) 50%, rgba(77,0,54,1) 51%, rgba(108,19,79,1) 100%);
background: -ms-linear-gradient(top, rgba(104,34,89,1) 0%, rgba(92,31,75,1) 50%, rgba(77,0,54,1) 51%, rgba(108,19,79,1) 100%);
background: linear-gradient(to bottom, rgba(104,34,89,1) 0%, rgba(92,31,75,1) 50%, rgba(77,0,54,1) 51%, rgba(108,19,79,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#682259', endColorstr='#6c134f', GradientType=0 );
   text-decoration: none;
   display: block;
   padding: 15px 47.5px;
   font-family:sans-serif, times name roman;
   font-size: 81%;
}
.barra{
	font-size: 6px;
	padding: 39px 0 0 0;
	background: rgba(73,24,62,1);
background: -moz-linear-gradient(top, rgba(73,24,62,1) 0%, rgba(65,22,53,1) 50%, rgba(56,0,39,1) 51%, rgba(74,13,53,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,24,62,1)), color-stop(50%, rgba(65,22,53,1)), color-stop(51%, rgba(56,0,39,1)), color-stop(100%, rgba(74,13,53,1)));
background: -webkit-linear-gradient(top, rgba(73,24,62,1) 0%, rgba(65,22,53,1) 50%, rgba(56,0,39,1) 51%, rgba(74,13,53,1) 100%);
background: -o-linear-gradient(top, rgba(73,24,62,1) 0%, rgba(65,22,53,1) 50%, rgba(56,0,39,1) 51%, rgba(74,13,53,1) 100%);
background: -ms-linear-gradient(top, rgba(73,24,62,1) 0%, rgba(65,22,53,1) 50%, rgba(56,0,39,1) 51%, rgba(74,13,53,1) 100%);
background: linear-gradient(to bottom, rgba(73,24,62,1) 0%, rgba(65,22,53,1) 50%, rgba(56,0,39,1) 51%, rgba(74,13,53,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49183e', endColorstr='#4a0d35', GradientType=0 );
}
#menu a:hover{
	color: #c73a69;
	background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}

html{
	scroll-behavior: smooth ;
}
.titulo{
	font-weight: 900;
	text-align: center;
	margin-top: 100px;
	color: #000000;
	font-family:sans-serif, times name roman ;
}
.contenerdor {
	background-color:  #363136;

}
div.secciones{
  margin:7px;
  border: 10px solid #2c2b40;
  float: left;
margin-top: -15px 50px ;
width: 150px;
  height: 345px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

div.secciones:hover {
  border: 10px solid #c73a69;
}

div.secciones img {
  width: 100%;
  height: auto;
  top: 70px;
}
.nombre123{
	text-align: center;
}
div.desc {
  padding: 11px;
  text-align: center;
  font: serif, times name roman;
  color: #d40fd4;
}
.titulo2{
	font-weight: 900;
	text-align: center;
	margin-top: 100px;
	color: #000000;
	font-family:sans-serif, times name roman ;
}
.titulo3{
	font-weight: 900;
	text-align: center;
	margin-top: 100px;
	color: #000000;
	font-family:sans-serif, times name roman ;
}
.titulo4{
	font-weight: 900;
	text-align: center;
	margin-top: 100px;
	color: #000000;
	font-family:sans-serif, times name roman ;
}
.titulo5{
	font-weight: 900;
	text-align: center;
	margin-top: 100px;
	color: #000000;
	font-family:sans-serif, times name roman ;
}
.titulo6{
	font-weight: 900;
	text-align: center;
	margin-top: 100px;
	color: #000000;
	font-family:sans-serif, times name roman ;
}
.titulo7{
	font-weight: 900;
	text-align: center;
	margin-top: 100px;
	color: #000000;
	font-family:sans-serif, times name roman ;
}
.titulo8{
	font-weight: 900;
	text-align: center;
	margin-top: 100px;
	color: #000000;
	font-family:sans-serif, times name roman ;
}
.subir{
	width: 100px;
	float: right;

}
