.principal_nombre{
	color:#fcf7fc; 
	font-size: 55px;
	font-style: italic ;
	padding-top: 40px;
	text-shadow: 5px 5px 5px #cc16c0;
}
header{ 
	background-color: #1f011f;
	text-align: center;
	height: 87px;
	 margin: -37.3px -8.5px;
	 width: 1360px;
	}
nav img{
	margin:13px ;
	margin-top: -125px;
  float: right;
   width: 115px;
  padding-left: -55px;
}
nav{
	float: right;
}
a{ 
	text-decoration: none;
	color:#f6eff7;
	margin-right: 50px;
	font-weight: 900;
}
li{ 
	float: left;
    list-style: none;
height: 55px;
margin: -26px -1px;
padding: -50px;
padding-left: -75px;
}
li:hover a{
color:  #c73a69;
}
.nombre_logo{
	color: #fcf7fc;
	width: 350px;
	padding: 20px 20px;
	float: left;
	position: absolute;
	top: 14%;
	left: -4%;
	font-size: 18px;
}
.logo{
	position: absolute;
	width: 210px;
	margin-left: -660px;
	margin-top: 27px;
	transform: translateX(-55%);
	transform: translateY(-25%);
  height: 165px;
  display: 75%;
}
.slideshow { 

  list-style-type: none;
  background-color:;
  width: 100px;
}

/** SLIDESHOW **/
.slideshow,
.slideshow:after { 
    top: -13px; /*Not sure why I needed this fix*/
    width: 80%;
    height: 60%;
    left: 0px;
    z-index: 0; 
   
}

.slideshow li span { 
		position: absolute;
    width: 80%;
    height: 65%;
    top: 153px;
    left: 11%;
    background-image: url("promociones/fondo.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s; 
}



.slideshow li:nth-child(1) span { 
    background-image: url("promociones/precios bajos.jpg"); 
}
.slideshow li:nth-child(2) span { 
    background-image: url("promociones/descuento compra.jpg");
    animation-delay: 6s; 
}
.slideshow li:nth-child(3) span { 
    background-image: url("promociones/descuento portada.jpg");
    animation-delay: 12s; 
}
.slideshow li:nth-child(4) span { 
    background-image: url("promociones/delivery.jpg");   
    animation-delay: 18s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
.no-cssanimations .cb-slideshow li span {
	opacity: 1;
}
.titulo_articulos{
margin-top: 433px;
background-color: #1f011f;
width: 100%;
font-family:serif, times name roman;
font-size: 25px;
color: #f8f7ff;
text-align: center;
height: 35px;
border:inset 1px #f8f7ff;
}
div.gallery {
  margin:6px;
  border: 10px solid #2c2b40;
  float: left;
  width: 130px;
  margin-top: -15px;
}

div.gallery:hover {
  border: 10px solid #c73a69;
}

div.gallery img {
  width: 100%;
  height: auto;
  top: 70px;
}

div.desc {
  padding: 15px;
  text-align: center;
  font: serif, times name roman;
  color: #2c2b40;
}

.marcas1{
margin-top: 300px;
background-color: #1f011f;
width: 100%;
font-family:serif, times name roman;
font-size: 25px;
color: #f8f7ff;
text-align: center;
height: 35px;
border:inset 1px #f8f7ff;
}
div.marcas123 {
  margin:7px;
  border: 10px solid #2c2b40;
  float: left;
  width: 130px;
  margin-top: -15px;
}

div.marcas123 img {
  width: 100%;
  height: auto;
  top: 70px;
}
.pie{
	font-family: sans-serif, #000000;
	font-size: 20px;
	text-align: center;
	color:#000000;
	margin-top: 310px;
    text-align: left;
}
